
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // By default, deny all reads and writes
    match /{document=**} {
      allow read, write: if false;
    }

    // Match any document in the 'users' collection
    match /users/{userId}/{document=**} {
      // A user can read or write to their own documents if they are authenticated
      // and their UID matches the userId in the document path.
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow the server to seed initial data for a brand new user.
    // This rule allows creating the user's document and subcollections only if the user document does not yet exist.
    // This is crucial for the initial data seeding process during sign-up.
    match /users/{userId} {
      allow create: if !exists(/databases/$(database)/documents/users/$(userId));
    }
     match /users/{userId}/{path=**} {
      allow create: if !exists(/databases/$(database)/documents/users/$(userId));
    }
  }
}
